<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <!-- bootstrap css -->
    <link href="~/lib/bootstrap/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--Link css page-->
    <link href="~/css/default.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <!-- Icon picture -->
    <link rel="icon" type="image/jpg" href="img/IMG-5862.jpg" />
    <!-- website tab name -->
    <title>Eva's Website'</title>
</head>
<body>
    <nav>
        <a asp-controller="Main" asp-action="Index">Home</a>
        <a asp-controller="Main" asp-action="Calculator"> Calculator</a>

    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>This is the footer</footer>
    <!-- Bootstrap js  -->
    <script src="lib/bootstrap/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <!-- JQuery library -->
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
</body>
</html>
