@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CalculatorModel;
<!-- the calculator form title and instructions -->
<h2>Grade Calculator</h2>
<p>Enter your grade in percentage:</p>
<p>Example (If your Quiz grade is 90% enter 90)</p>
<!-- form label and input fields -->
<form method="post">
    <label> Assignments</label>
    <input  id="assignments" asp-for="assignments1"  /><br /><br />
    <label> Group Project</label>
    <input  id="groupProject" asp-for="groupProject1"  /><br /><br />
    <label>Quizzes</label>
    <input  id="quiz" asp-for="quiz1"  /><br /><br />
    <label> Midterm Exam</label>
    <input  id="midtermExam" asp-for="midtermExam1"  /><br /><br />
    <label> Final Exam</label>
    <input  id="finalExam" asp-for="finalExam1"  /><br /><br />
    <label>INTEX</label>
    <input id="intex" asp-for="intex1"  /><br /><br />
    <div asp-validation-summary="All"></div>
    <!-- Grade Result is printed here -->
    <div id="result"></div>
    <br />
    <!-- Calculator Submit Button -->
    <input id="buttonSend" type="submit" value="Enter" />

</form>