@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]="Eva's Website";

}


<!-- A header with my name -->
<h1>My name is Eva Wu!</h1>
<br />
<!-- input image -->
<img src="img/IMG-5862.jpg" width="400"
        height="320" />

<!-- A paragraph with what Eva wants to learn this year in IS 413 -->
<br />
<br />
<p>
    Eva hopes that after taking IS 413, she will learn how to create a website with C#. She also hopes that she will understand how to use react and asp.net. Overall Eva
    wants to be able to understand at least one strongly typed language!
</p>
<br />
<!-- List with what jobs Eva Wants  -->
<p> Eva wants to pursue the following jobs when she graduates: </p>
<ul>
    <li> Cyber Security Analyst </li>
    <li> Software Programmer </li>
    <li> Data Analyst</li>
</ul>
<br />


